<mat-tab-group [(selectedIndex)]="currentTabIndex">
  <mat-tab label="Geral">
    <app-general-informations [user]="userSelected" />
    <app-general-informations-edit [userForm]="userForm"/>
  </mat-tab>
  <mat-tab label="Contato">
    <app-contact-informations [user]="userSelected" />
    <app-contact-informations-edit/>
  </mat-tab>
  <mat-tab label="Dependente">
    <app-dependents-list
      [dependentsList]="userSelected?.dependentsList"
    />
    <app-dependents-list-edit/>
  </mat-tab>
</mat-tab-group>
