<div class="p-4 max-w-screen-xl mx-auto">
  <mat-card>
    <mat-card-content>
      <app-users-list
        (onUserSelected)="onUserSelected($event)"
        [usersList]="usersList"
        [isInEditMode]="isInEditMode"
      />

      @if (userSelectedIndex !== undefined) {
        <app-buttons-container
          [isInEditMode]="isInEditMode"
          [enableSaveButton]="enableSaveButton"
          (onCancelButton)="onCancelButton()"
          (onEditButton)="onEditButton()"
          (onSaveButton)="onSaveButton()"
        />

      }

      @if (userSelectedIndex !== undefined) {
        <app-user-informations-container
          [isInEditMode]="isInEditMode"
          [userSelected]="userSelected"
          (onFormStatusChange)="onFormStatusChange($event)"
          (onUserFormFirstChange)="onUserFormFirstChange()"
        />
      }
    </mat-card-content>
  </mat-card>
</div>
