<form [formGroup]="userForm" class="p-4">
  <p class="text-xl font-semibold">Dependentes:</p>

  <div>
    <button
      class="rounded-md px-2 py-2 text-lg font-medium leading-5 text-white bg-green-600 hover:bg-green-500 transition"
    >
      Novo Dependente
    </button>
  </div>

  <ng-container formArrayName="dependentsList">
    @for(dependent of dependentsList.controls; track dependent; let i = $index) {
      <div class="my-4 grid grid-cols-2 sm:grid-cols-4 gap-4" [formGroupName]="i">
        <mat-form-field class="w-full">
          <mat-label>Nome:</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Idade:</mat-label>
          <input matInput formControlName="age">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Documento:</mat-label>
          <input matInput formControlName="document">
        </mat-form-field>

        <div class="flex items-baseline box-border pt-2 justify-center">
          <button
            class="rounded-md px-2 py-2 text-lg font-medium leading-5 text-white bg-red-600 hover:bg-red-500 transition"
          >
            Deletar
          </button>
        </div>
      </div>

      <hr class="block sm:hidden"/>
    }
  </ng-container>
</form>
